.home {
  margin: (12px * 3.5) auto;
  padding: (12px * 6) (#333 * 4);
  background: #fff;
  border-bottom: 1px solid lighten(#333, 70%);
  border-radius: 4px;
}
// splash

.splash {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // padding-left: 30px;
  // padding-right: 30px;
}

.order-online {
  margin: 50px 3px 3px 40px;
  height: 100px;
  width: 350px;
  flex: 38%;
  position: relative;

  .order-title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: all 0.5s;
    display: inline-block;
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    .order-title {
      top: 20%;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
  }
}
.book-table {
  margin: 50px 40px 3px 2px;
  height: 100px;
  width: 350px;
  flex: 38%;
  position: relative;
  .booking-title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: all 0.5s;
    display: inline-block;
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    .booking-title {
      top: 20%;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
  }
}
.opening-hours {
  flex: 100%;
  border-radius: 3%;
  background-color: #ff6b6b;
  color: #fff;
  width: 205px;
  height: 100px;
  margin: 0 40px 50px 40px;
  .inner > h2 {
    line-height: 1;
  }
}

// carousel

.carousel {
  margin: 20px 40px 90px 40px;
}

.carousel-cell {
  display: flex;
  width: 100%;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  img {
    flex: 40%;
    object-fit: cover;
    border-radius: 3%;
  }
  .carousel-text {
    margin-left: 30px;
    flex: 40%;
  }
}

// gallery

.row {
  display: flex;
  margin: 0 40px 0 40px;
  justify-content: space-between;
}
.image-container {
  position: relative;
  flex: 33.333%;
  height: 150px;
  width: 150px;
  margin: 5px 5px 5px 5px;
  transition: all 0.5s;

  img {
    height: 100%;
    width: 100%;
    border-radius: 3%;
    object-fit: cover;
  }
  .like-share {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    i {
      color: #fff;
      font-size: 12px;
      transition: all 0.5s;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}
.image-container:hover {
  cursor: pointer;
  .like-share {
    visibility: visible;
    opacity: 1;
  }
  .like-share i {
    font-size: 30px;
    transition: all 0.5s;
    &:hover {
      color: #ff6b6b;
    }
  }
}

// footer

footer {
  margin: 35px 0 95px 45px;
  a {
    color: rgb(125, 136, 146);
  }
}
